<h1>ikyuav</h1>

<%= link_to '新規追加', :controller => 'images', :action => 'new' %>

<div id="masonry-container">
     <% @images.each do |img| %>
     <div class="mas-box"><%= image_tag img.info.url %></div>
     <% end %>
</div>
